# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment Variables
.env

# IDE and Editor Settings
.vscode/
*.swp
*.swo
.idea/

# OS files
.DS_Store
Thumbs.db

# Husky
.husky/_

# Coverage and Test reports
coverage/
test-results/
